body{
    background: #12ac8e;
}
.carousel{
    height: 600px;
    perspective: 250px;
}
.carousel .carousel-item{
    width: 450px;
}
.carousel .indicators .indicator-item{
    background: red;
}
.img{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
}
.img img{
    width:100%;
}
.content{
    background: #fafafa;
    text-align: center;
    height: 347px;
    box-shadow: 0 15px 20px 5px rgba(0,0,0,0.5);
    padding: 35px;
    border-radius: 25px;
    color:rgba(0,0,0,0.5);
    position: relative;
    z-index: 1;
}
.content::before{
    content:'';
    position: absolute;
    width: 100px;
    height: 115px;
    background: red;
    top: 0;
    left: 39%;
    z-index:-1;
    border-radius: 0 0 50px 50px;
}
.content h1{
    font-size: 40px;
    font-family: alfa slab one;
    margin: 15px 0 0;
    color: red;
}
.content h2{
    margin: 10px 0 0;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.socials{
    margin-top: 30px;
}
.socials i{
    font-size: 25px;
    margin: 0 15px;
    color: red;
}