@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #12ac8e;
    --primary-color-dark: #0d846c;
    --primary-color-light: #e9f7f7;
    --secondary-color: #fb923c;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section__container{
    max-width: var(--max-width);
    margin:auto;
    padding: 5rem 1rem;
}
.section__header {
    margin-bottom: .5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.btn{
    padding: .75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}
.dropdown-item {
    color: #333;
  }

img{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
}

body{
    font-family: "Poppins", sans-serif;
}
header {
    background-image: linear-gradient(
        to right,
         rgba(18,172,142, .9),
        rgba(18,172,142, .7)
    ),
    url("AdobeStock_616669496-1080x720.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav__container {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white);
}
.nav__logo span {
    color: var(--secondary-color);
}
.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.link a {
    padding:0.5rem;
    color: var(--primary-color-light);
}
.link a:hover {
    color:var(--secondary-color);
}
.header__container {
    display:flex;
    align-items:center;
    gap: 5rem;
}
.header__container h1 {
    margin-bottom: 1rem;
    max-width: 800px;
    font-size: 3.5rem;
    line-height: 4rem;
    color: var(--white);
}
.header__container p {
    margin-bottom: 2rem;
    max-width: 600px;
    color: var(--primary-color-light);
}
.header__form { 
    width: 100%;
    max-width: 350px;
}
.header__form form {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.header__form input {
    padding: 1rem;
    outline: none;
    border: none;
    font-size:1rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 5px;
}
.header__form input::placeholder {
    color: var(--primary-color);
}
.form__btn {
    background-color: var(--primary-color);
    transition: .3s;

}
.form__btn:hover {
    background-color: var(--primary-color-dark);
}
.header__form h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}
.service__header {
    display:flex;
    align-items: center;
    justify-content:space-between;
    gap: 2rem;
}
.service__header__content p {
    max-width: 600px;
    color:var(--text-light);
}
.service__btn { 
    padding: .75rem 1rem;
    outline: none;
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
}
.service__btn:hover {
    color: var(--white);
    background-color: var(--primary-color);
}
.service__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.service__card {
    padding: 2rem;
    text-align: center;
    border-radius:10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    cursor:pointer;
}
.service__card span {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 2.5rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 100%;
    transition: 0.3s;
}
.service__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-light);
}
.service__card p{
    margin-bottom: 1rem;
    color: var(--text-dark);
}
.service__card a{
color: var(--primary-color);
}
.service__card a:hover{
    color: var(--primary-color-dark);
}
.service__card:hover span{
    color: var(--primary-color-light);
    background-color: var(--primary-color);
}

footer {
    background-color: #12ac8e;
    color:#ffffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
